<link rel="stylesheet" type="text/css" href="/stylesheets/pages/page-help.css">
<div class="help-container">
	<h1>集结号使用帮助</h1>
	<h2>首次使用</h2>
	<p>关注本订阅号时，会提示你修改你的名称，也就是说——<em>你发给我的第一句话就是你的名称（请务必注意）</em>，名称将会在你发的通知后面。请用一个大家都知道的名称，不然大家没法知道你是谁。</p>
	<p>如果你想要更改你的名称，可以给我发“改名”来修改你的名称</p>
	<p>班委/团委同志请自觉将名称设置为“职务-姓名”的格式</p>
	<h2>查看通知</h2>
	<p>关注并设置名称后，你给我发任意消息，我将向你展示最近的几条通知。点击头图可以查看所有需要注意的通知。</p>
	<h2>发布通知</h2>
	<p>你给我发“发通知”，然后我会给你提示，看到提示后，你像我发送通知的内容即可。</p>
	<p><em>你的通知请务必包含通知事件的时间（也就是死线），否则将被视为无效的通知。</em><br/>系统会自动识别你通知中出现的时间。如果需要显式指定日期和时间，将日期时间写在通知最后即可。<br/>日期参考格式：2015/3/4 或 2015年3月4日 (可不带年份)<br/>时间参考格式：16:34 (24小时制)<br/>注意：可以不指定时间，但一定要指定日期！</p>
	<p>每个同学都有平等的向大家广而告之的权利，因此任何同学都能在这里发布通知，通知的优先级仅由死线决定，与发布者没有关系。但为了保证大家能及时准确的获取到有用的通知，<em>请大家不要灌水。</em>维护通知系统的高效运行需要我们每个人负起责任！</p>
	<h2>查看已发布的通知</h2>
	<p>你给我发“我的通知”，我会向你展示你已经发送的通知。点击头图可以查看所有你已发布的通知。</p>
	<h2>系统安全</h2>
	<p>此系统为内部系统，我懒得写安全策略，因此系统没有任何安全保护措施。你可以尽情的各种黑各种注入，但是请不要对系统内的数据造成毁灭性的损坏。相信你不会做那个被全班谴责的人 :)</p>
	<h2>口令手册</h2>
	<table>
		<tr>
			<td class="td-key">改名</td>
			<td class="td-value">更改自己的名称</td>
		</tr>
		<tr>
			<td class="td-key">发通知</td>
			<td class="td-value">发布一条通知</td>
		</tr>
		<tr>
			<td class="td-key">我的通知</td>
			<td class="td-value">查看自己已发布的通知</td>
		</tr>
		<tr>
			<td class="td-key">帮助</td>
			<td class="td-value">查看这个使用帮助</td>
		</tr>
	</table>
	<img src="/images/qr_code.jpg">
	<p class="author">Cosmo<br/>2015年4月18日</p>
</div>